* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(caminante.jpg);
    height: 100vh;
    background-size: cover;
}

.buscar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #069;
    padding: 10px;
    height: 80px;
    border-radius: 40px;
}

.buscar_texto {
    border: none;
    background: none;
    outline: none;
    color: white;
    font-size: 20px;
    float: left;
    line-height: 60px;
    transition: .3s;
    width: 0;
}

.boton {
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: white;
    font-size: 30px;
}


/*==responsive==*/

@media screen and (min-width:480px) {
    .buscar:hover>.buscar_texto {
        width: 190px;
    }
}

@media screen and (min-width:768px) {
    .buscar:hover>.buscar_texto {
        width: 300px;
    }
}

@media screen and (min-width:1024px) {
    .buscar:hover>.buscar_texto {
        width: 500px;
    }
}